<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top p-l-6">
  <a (click)="logo()" class="navbar-brand" routerLink="home">Rental Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="padding-right: 20rem;" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        <a (click)="fetchLocationApi()" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> {{ selectedLoc }} </a>
        <ul class="dropdown-menu">
          <li *ngFor="let cat of catalog?.locations">
            <a (click)="catSelect(cat)" class="dropdown-item" routerLink="/"> {{ cat.name }} </a>
            <ul class="submenu dropdown-menu">
              <li *ngFor="let branch of cat.branches">
                <a (click)="catSelect(branch)" class="dropdown-item" routerLink="/"> {{ branch.name }} </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</nav>