<div class="p-y-5 bg-light">
    <label for="Equipment Catalog" class="fs-20 pl-5">Equipment Catalog</label>

    <ul class="row mx-5">

        <li *ngFor="let cat of category" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 pt-5 list-inline">

            <div layout-gt-xs="row" class="">
                <mat-card>
                    <img mat-card-image class="border-bottom" src='{{"assets/category/" + cat?.image }}'
                    onerror="this.onerror=null;this.src='assets/invalid-image.png';"
                    />
                    <mat-card-title (click)="subCat(cat)" class="cat-name">{{ cat.name }}
                        <i class="fa fa-caret-right float-right"></i>
                    </mat-card-title>

                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>

        </li>

    </ul>

</div>